flows.json
[
    {
        "id": "5e04b9dd.81c658",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "46b7de9a51751b2b",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "topgun/team1/arm/move/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66b4ca9236e8f3eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "3f56344d57fb8275",
                "fa1b237cde8e3c33",
                "d51e838f363c7c8d",
                "9227371c82318f40",
                "5bc9ad24bcc807a7"
            ]
        ]
    },
    {
        "id": "3f56344d57fb8275",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "32175e024cb1fd14",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Axis Y",
        "label": "degree",
        "format": "{{msg.payload.y}}",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "fa1b237cde8e3c33",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "1e9cf99e0988b3f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Axis X",
        "label": "degree",
        "format": "{{msg.payload.x}}",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "d51e838f363c7c8d",
        "type": "function",
        "z": "5e04b9dd.81c658",
        "name": "function xyz",
        "func": "var msgx = {};\nvar msgy = {};\nvar msgz = {};\n\nmsgx.payload = msg.payload.x;\nmsgx.topic = 'x';\n\nmsgy.payload = msg.payload.y;\nmsgy.topic = 'y';\n\nmsgz.payload = msg.payload.z;\nmsgz.topic = 'z';\n\nreturn [msgx, msgy, msgz];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "db59053d4ef1c9a0"
            ],
            [
                "4583343b8070437c"
            ],
            [
                "9261829c0af511e4"
            ]
        ]
    },
    {
        "id": "9227371c82318f40",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "c5aaa2013269e1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Axis Z",
        "label": "degree",
        "format": "{{msg.payload.z}}",
        "min": "-180",
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "4583343b8070437c",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "32175e024cb1fd14",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-180",
        "ymax": "180",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d3486e258c1ff62d",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "topgun/team1/fingers/grasp/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66b4ca9236e8f3eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "ccc4230a7fb815da",
                "cff8e4cc27483aaf"
            ]
        ]
    },
    {
        "id": "a3b19f3aed96507d",
        "type": "ui_level",
        "z": "5e04b9dd.81c658",
        "group": "1c188d8c665d8372",
        "order": 4,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "Finger 1",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": "2",
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "1",
        "fontValue": "1",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "e6aab7c87c8da067",
        "type": "ui_level",
        "z": "5e04b9dd.81c658",
        "group": "1c188d8c665d8372",
        "order": 4,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "Finger 2",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "ccc4230a7fb815da",
        "type": "function",
        "z": "5e04b9dd.81c658",
        "name": "function grasp",
        "func": "var finger1 = {};\nvar finger2 = {};\nvar finger3 = {};\nvar finger4 = {};\nvar finger5 = {};\n\nfinger1.payload = msg.payload.finger1;\nfinger2.payload = msg.payload.finger2;\nfinger3.payload = msg.payload.finger3;\nfinger4.payload = msg.payload.finger4;\nfinger5.payload = msg.payload.finger5;\n\nreturn [finger1, finger2, finger3, finger4, finger5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "a3b19f3aed96507d"
            ],
            [
                "e6aab7c87c8da067"
            ],
            [
                "89d79cf1986d5360"
            ],
            [
                "2a09666daf1e1c81"
            ],
            [
                "9f7a208fe120ceae"
            ]
        ]
    },
    {
        "id": "89d79cf1986d5360",
        "type": "ui_level",
        "z": "5e04b9dd.81c658",
        "group": "1c188d8c665d8372",
        "order": 4,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "Finger 3",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a09666daf1e1c81",
        "type": "ui_level",
        "z": "5e04b9dd.81c658",
        "group": "1c188d8c665d8372",
        "order": 4,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "Finger 4",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "9f7a208fe120ceae",
        "type": "ui_level",
        "z": "5e04b9dd.81c658",
        "group": "1c188d8c665d8372",
        "order": 4,
        "width": "1",
        "height": "5",
        "name": "",
        "label": "Finger 5",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "db59053d4ef1c9a0",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "1e9cf99e0988b3f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-180",
        "ymax": "180",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9261829c0af511e4",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "",
        "group": "c5aaa2013269e1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-180",
        "ymax": "180",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5bc9ad24bcc807a7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "cff8e4cc27483aaf",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "66b4ca9236e8f3eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "32175e024cb1fd14",
        "type": "ui_group",
        "name": "AxisY",
        "tab": "e84028773afe516c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e9cf99e0988b3f8",
        "type": "ui_group",
        "name": "AxisX",
        "tab": "e84028773afe516c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5aaa2013269e1dd",
        "type": "ui_group",
        "name": "AxisZ",
        "tab": "e84028773afe516c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c188d8c665d8372",
        "type": "ui_group",
        "name": "Fingers",
        "tab": "e84028773afe516c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e84028773afe516c",
        "type": "ui_tab",
        "name": "Topgun",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]